html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    background-color: white;
    color: var(--charcoal);
    font: normal 1rem var(--copy);
    line-height: 1.25;
}

a {
    color: var(--salamander);
    text-decoration: none;
}

a:hover {
    color: var(--salamander);
    text-decoration: underline;
}

.page-width {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--desktop);
    width: calc( 100% - 2rem );
}

.content-width {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--content);
    width: calc( 100% - 4rem );
}

header {
    border-bottom: 2px solid var(--off-white);
}

.header-container {
    align-items: center;
    display: grid;
    grid-gap: 1rem;
    grid-template-areas:
        "logo logo logo logo"
        "phone appointment search-toggle menu-toggle"
        "menu menu menu menu"
        "search search search search";
    grid-template-columns: 2.5rem 2.5rem 2.5rem 1fr;
    justify-content: left;
    padding: 1rem 0 0 0;
}

.header-logo {
    grid-area: logo;
}

.header-logo img {
    display: block;
    margin: 0 auto;
    max-width: 290px;
    width: 100%;
}

.header-phone {
    grid-area: phone;
}

.header-phone .label,
.header-appointment .label {
    display: none;
}

.header-phone .icon,
.header-appointment .icon,
.search-icon,
.menu-open,
.menu-close {
    align-items: center;
    background-color: var(--charcoal);
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 1.5rem;
    height: 2.5rem;
    justify-content: center;
    width: 2.5rem;
}

.menu-open {
    background-color: var(--turquoise);
}

.menu-close {
    background-color: var(--salamander);
}

.navigation-toggle {
    justify-self: end;
}

body:not(.menu-active) .menu-close,
body.menu-active .menu-open {
    display: none;
}

body.search-active .search-icon {
    background-color: var(--salamander);
}

.navigation {
    grid-area: menu;
    justify-self: center;
}

.navigation a {
    color: var(--turquoise);
    display: block;
    font: normal 1.5rem var(--copy);
    margin: 0.5em 0;
}

.navigation ul {
    list-style-type: none;
    max-height: 0px;
    overflow: hidden;
    text-align: center;
    transition: max-height 1s ease-in-out 0s;
}

body.menu-active .navigation ul {
    max-height: 9999px;
}

.search {
    grid-area: search;
}

.search .fields {
    display: flex;
    margin: 0.5rem 0 1rem 0;
}

.search input {
    background-color: var(--off-white);
    border: 1px solid var(--off-white);
    display: flex;
    font: normal 1rem var(--copy);
    height: 2rem;
    padding: 0 1rem;
}

.search input:focus {
    border: 1px solid var(--salamander);
    outline: none;
}

.search input[type=submit] {
    background-color: var(--salamander);
    border: 1px solid var(--salamander);
    color: white;
    cursor: pointer;
}

.search input[type=submit]:hover {
    background-color: var(--turquoise);
    border: 1px solid var(--turquoise);
}

.search input[type=text] {
    width: 100%;
}

.search-form {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 500ms ease-in-out 0s;
}

body.search-active .search-form {
    max-height: 9999px;
}




