html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    background-color: white;
    color: var(--charcoal);
    font: normal 1rem var(--copy);
    line-height: 1.25;
}

a {
    color: var(--salamander);
    text-decoration: none;
}

a:hover {
    color: var(--salamander);
    text-decoration: underline;
}

.page-width {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--desktop);
    width: calc( 100% - 4rem );
}

.content-width {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--content);
    width: calc( 100% - 4rem );
}



