html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    background-color: white;
    color: var(--charcoal);
    font: normal 1rem var(--copy);
    line-height: 1.5;
}

a {
    color: var(--salamander);
    text-decoration: none;
}

a:hover {
    color: var(--salamander);
    text-decoration: underline;
}

p {
    margin-bottom: 1rem;
}

h1,
h2 {
    font: normal 1.5rem var(--copy);
    margin-bottom: 1rem;
    text-transform: uppercase;
}

h1 {
    color: var(--salamander);
    font-weight: bold;
}

.page-width {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--desktop);
    width: calc( 100% - 2rem );
}

.content-width {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--content);
    width: calc( 100% - 4rem );
}

header {
    border-bottom: 2px solid var(--off-white);
}

.header-container {
    align-items: center;
    display: grid;
    grid-gap: 1rem;
    grid-template-areas:
        "logo logo logo logo"
        "phone appointment search-toggle menu-toggle"
        "menu menu menu menu"
        "search search search search";
    grid-template-columns: 2.5rem 2.5rem 2.5rem 1fr;
    justify-content: left;
    padding: 1rem 0 0 0;
}

.header-logo {
    grid-area: logo;
    margin: 0 auto;
    max-width: 290px;
}

.header-logo img {
    display: block;
    width: 100%;
}

.header-logo a .tagline {
    color: var(--charcoal);
    margin-top: 0.5em;
}

.header-logo a:hover .tagline {
    border: 0;
    text-decoration: none;
}

.header-phone {
    grid-area: phone;
}

.header-phone .label,
.header-appointment .label {
    display: none;
}

.header-phone .icon,
.header-appointment .icon,
.search-icon,
.menu-open,
.menu-close {
    align-items: center;
    background-color: var(--charcoal);
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 1.5rem;
    height: 2.5rem;
    justify-content: center;
    width: 2.5rem;
}

.menu-open {
    background-color: var(--turquoise);
}

.menu-close {
    background-color: var(--salamander);
}

.navigation-toggle {
    justify-self: end;
}

body:not(.menu-active) .menu-close,
body.menu-active .menu-open {
    display: none;
}

body.search-active .search-icon {
    background-color: var(--salamander);
}

.navigation {
    grid-area: menu;
    justify-self: center;
}

.navigation a {
    color: var(--turquoise);
    display: block;
    font: normal 1.5rem var(--copy);
    margin: 0.5em 0;
}

.navigation li.current-menu-item a,
.navigation ul li.current_page_parent a,
.navigation ul li.current-page-ancestor a {
    color: var(--salamander);
}

.navigation ul {
    list-style-type: none;
    max-height: 0px;
    overflow: hidden;
    text-align: left;
    transition: max-height 1s ease-in-out 0s;
}

body.menu-active .navigation ul {
    max-height: 9999px;
}

.navigation .menu-item-has-children > a {
    border-bottom: 1px solid var(--off-white);
    color: var(--charcoal);
    display: block;
    font: normal 1rem var(--copy);
    text-align: left;
    text-transform: uppercase;
}

.navigation {
    width: 100%;
}

.navigation .menu-item-has-children > ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    text-align: left;
}

.navigation .menu-item-has-children > ul a {
    font-size: 1.25rem;
}

.search {
    grid-area: search;
}

.search .fields {
    display: flex;
    margin: 0.5rem 0 1rem 0;
}

.search input {
    background-color: var(--off-white);
    border: 1px solid var(--off-white);
    display: flex;
    font: normal 1rem var(--copy);
    height: 2rem;
    padding: 0 1rem;
}

.search input:focus {
    border: 1px solid var(--salamander);
    outline: none;
}

.search input[type=submit] {
    background-color: var(--salamander);
    border: 1px solid var(--salamander);
    color: white;
    cursor: pointer;
}

.search input[type=submit]:hover {
    background-color: var(--turquoise);
    border: 1px solid var(--turquoise);
}

.search input[type=text] {
    width: 100%;
}

.search-form {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 500ms ease-in-out 0s;
}

body.search-active .search-form {
    max-height: 9999px;
}

footer {
    background-color: var(--charcoal);
    color: white;
    padding: 2rem 0;
}

footer ul.menu {
    list-style-type: none;
    text-align: center;
}

footer ul.menu li {
    display: inline-block;
}

footer ul.menu li a {
    color: white;
    text-transform: uppercase;
}

footer ul.menu li:not(:last-of-type):after {
    color: var(--turquoise);
    content: '|';
    margin: 0 0.5rem;
}

.footer-columns {
    margin: 1rem 0;
}

.footer-columns .column {
    margin-bottom: 1rem;
}

.footer-newsletter {
    margin-top: 1rem;
}

.footer-newsletter input {
    appearance: none;
    border: 0;
    display: flex;
    font: normal 0.85rem var(--copy);
    height: 2rem;
    padding: 0 1rem;
    width: 100%;
}

.footer-newsletter input:focus {
    outline: none;
    border: 1px solid var(--salamander);
}

.footer-newsletter input[type=submit] {
    background-color: var(--salamander);
    color: white;
    cursor: pointer;
    justify-content: center;
    text-transform: uppercase;
}

.footer-newsletter input[type=submit]:hover {
    background-color: var(--turquoise);
}

main {
    padding: 2rem 0;
}

.branded-heading {
    font: normal 2.5rem var(--heading);
    line-height: 0.9;
    margin-bottom: 1rem;
    text-align: left;
    text-transform: none;
}

.branded-heading em {
    color: var(--salamander);
    font-style: normal;
}

.branded-heading:after {
    background: url(../images/scribble.svg) bottom left no-repeat;
    background-size: contain;
    content: ' ';
    display: inline-block;
    height: 0.5em;
    margin-left: 0.1em;
    width: 0.25em;
}

.media-feature {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    margin-bottom: 2rem;
}

.media-feature .heading {
    position: relative;
    transform: translateY(1.5rem);
    z-index: 1;
}

.media-feature .media {
    width: 100%;
}

.media-feature .branded-heading {
    margin-bottom: 0;
}

.media-feature .content {
    background-color: var(--turquoise);
    color: white;
    padding: 1rem;
}

.media-feature .subheading {
    font: normal 2rem var(--heading);
    margin-bottom: 1rem;
}

.media-feature .media img {
    width: 100%;
}

.media-feature .media.has-embed {
    height: 0;
    padding-top: 56.25%;
    position: relative;
}

.media-feature .media.has-embed iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.button {
    background-color: var(--salamander);
    color: white;
    display: table;
    padding: 0.5em;
    text-transform: uppercase;
}

.button:hover {
    background-color: var(--turquoise);
}

.button.light {
    background-color: white;
    color: var(--salamander);
}

.button.light:hover {
    background-color: white;
    color: var(--charcoal);
}

.asw .wp-block-media-text .wp-block-media-text__content {
    margin: 1rem 0;
    padding: 0;
}

.asw .wp-block-button__link {
    text-transform: uppercase;
}

@media screen and ( min-width: 601px ) {
    .asw .wp-block-media-text .wp-block-media-text__content {
        margin: 0;
        padding: 1rem;
    }
}

.grid-content {
    margin-bottom: 2rem;
}

.grid-content a .blurb {
    color: var(--charcoal);
}

.grid-content a .blurb p {
    display: inline;
}

.grid-content a .blurb span:after {
    color: var(--salamander);
    content: '\00BB';
    display: inline-block;
    margin-left: 0.5rem;
}

.grid-content a:hover {
    text-decoration: none;
}

.grid-content h3 {
    font: normal 1.25rem var(--copy);
    text-transform: uppercase;
}

.grid-content a:hover h3 {
    text-decoration: underline;
}

.grid-content .thumb {
    background-position: center;
    background-size: cover;
    background-color: #EDEDED;
    display: block;
    height: 0;
    margin-bottom: 1rem;
    padding-top: 100%;
}

.grid-content .grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
}

.testimonials-carousel-container {
    background-color: var(--off-white);
    margin-left: 50%;
    padding: 2rem 0;
    transform: translateX(-50%);
    width: 100vw;
}

.testimonials-carousel .testimonial {
    font-size: 1.25rem;
    line-height: 1.5;
    padding: 0 2rem;
    overflow: visible;
    position: relative;
    text-align: center;
}

.testimonials-carousel .testimonial:before,
.testimonials-carousel .testimonial:after {
    color: white;
    content: '\275D';
    font-size: 2em;
    left: 0;
    position: absolute;
    top: -0.25em;
}

.testimonials-carousel .testimonial:after {
    bottom: 0;
    content: '\275E';
    left: auto;
    right: 0;
    top: auto;
}

.testimonials-carousel .testimonial .attribution {
    color: var(--turquoise);
}

.testimonials-navigation {
    position: relative;
}

.testimonials-cta a {
    margin: 0 auto;
}

.carousel-arrow {
    color: var(--turquoise);
    cursor: pointer;
    font-size: 2rem;
    opacity: 0;
    position: absolute;top: 25%;
}

.carousel-arrow.next {
    right: 0;
}

.carousel-arrow.left {
    left: 0;
}

.testimonials-navigation .slick-dots {
    list-style-type: none;
    margin-top: 1rem;
    text-align: center;
}

.testimonials-navigation .slick-dots button {
    display: none;
}

.testimonials-navigation .slick-dots li {
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 10px;
    margin: 0 3px;
    width: 10px;
}

.testimonials-navigation .slick-dots .slick-active {
    background-color: var(--turquoise);
}

.testimonials-list .thumbnail {
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    border: 2px solid var(--off-white);
    display: block;
    height: 6rem;
    margin: 1rem auto;
    width: 6rem;
}

.testimonials-list .testimonial:not(:last-of-type) {
    border-bottom: 1px solid var(--off-white);
    margin-bottom: 2rem;
    padding-bottom: 2rem;
}

.testimonials-list .attribution {
    color: var(--turquoise);
}

.homepage-posts {
    margin-top: 2rem;
}

.homepage-posts h2 {
    text-align: center;
}

.articles-grid .thumbnail {
    background-color: var(--off-white);
    background-position: center;
    background-size: cover;
    height: 0;
    margin-bottom: 1rem;
    padding-top: 66.66%;
}

.articles-grid h3 {
    font: normal 1.25rem var(--copy);
    text-transform: uppercase;
}

.articles-grid .excerpt a {
    color: var(--charcoal);
}

.articles-grid .excerpt a .read-more {
    color: var(--salamander);
}

.articles-grid {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr;
}

.articles-grid a:hover {
    color: var(--turquoise);
    text-decoration: none;
}

.subnavigation {
    background-color: var(--off-white);
    margin-bottom: 2rem;
    padding: 1rem;
}

.subnavigation ul {
    list-style-type: none;
}

label.subnav-toggle {
    font-size: 2rem;
    opacity: 0.5;
    text-transform: uppercase;
}

.subnavigation input {
    display: none;
}

label.subnav-toggle span:after {
    content: "+";
    float: right;
}

.subnavigation li a {
    display: inline-block;
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.subnavigation ul {
    max-height: 0;
    overflow: hidden;
    transition: max-height 500ms ease-in-out 0s;
}

.subnavigation input:checked ~ label ~ ul {
    max-height: 9999px;
}

.subnavigation input:checked ~ label.subnav-toggle span:after {
    content: "-";
}

.subnavigation li.current a {
    color: var(--charcoal);
    opacity: 0.5;
}

.subnavigation li.current a:before {
    content: '» ';
}

.copyright {
    font-size: 0.85rem;
    padding-top: 2rem;
    text-align: center;
}

.copyright span {
    color: var(--turquoise);
}

.icons-list {
    margin: 1rem 0;
}

.icons-list .list-item {
    align-items: center;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    justify-content: center;
    margin: 1rem 0;
}

.icons-list .list-item img {
    display: block;
    margin: 0 auto;
    max-width: 50%;
}

.icons-list .heading {
    color: var(--turquoise);
    font-size: 1.25rem;
    margin-bottom: 1rem;
    text-align: center;
    text-transform: uppercase;
}

.accordion-profile {
    margin-bottom: 2rem;
}

.accordion-profile .image {
    border: 1px solid var(--off-white);
    display: block;
    float: left;
    margin: 0 0.5rem 0.5rem 0;
    max-width: 50%;
}

.accordion-profile .header {
    color: var(--turquoise);
    font-weight: bold;
    margin-bottom: 1rem;
}

input.toggle {
    display: none;
}

.toggle:not(:checked) ~ .expander ~ label .contract,
.toggle:checked ~ .expander ~ label .expand {
    display: none;
}

.accordion-button {
    background-color: var(--salamander);
    color: white;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

.accordion-button:hover {
    opacity: 0.9;
}

.toggle ~ .expander {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-in-out 0s;
}

.toggle:checked ~ .expander {
    max-height: 9999px;
}

.services-sidebar .heading span:after {
    color: var(--charcoal);
    content: "\25BE";
    float: right;
}

.services-active .services-sidebar .heading span:after {
    opacity: 0.5;
    transform: rotateZ(180deg);
}

.services-sidebar .heading {
    color: var(--turquoise);
    cursor: pointer;
    font: normal 1.5rem var(--copy);
    padding-bottom: 0.5em;
    text-transform: uppercase;
}

.services-sidebar {
    border-bottom: 1px solid var(--off-white);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.services-sidebar ul {
    list-style-type: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-in-out 0s;
}

.services-sidebar ul a:hover {
    border-bottom: 1px solid var(--charcoal);
    text-decoration: none;
}

.services-active .services-sidebar ul {
    max-height: 9999px;
}

.services-sidebar li:not(:last-of-type) {
    margin: 0.5rem 0;
}

.services-sidebar li ul {
    color: var(--turquoise);
    margin-left: 1.25rem;
    list-style-type: circle;
    overflow: visible;
}

.services-sidebar li.current-menu-item > a {
    border-bottom: 1px solid var(--off-white);
    color: var(--charcoal);
}

article ul, article ol {
    margin: 1.25rem;
}

article li {
    margin-bottom: 0.5em;
}

.faq input {
    display: none;
}

.faq {
    border: 1px solid var(--off-white);
    margin-bottom: 2px;
    padding: 1rem;
}

.faq label {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: stretch;
    position: relative;
    width: 100%;
}

.faq .prefix {
    color: var(--turquoise);
    font: normal 1.5rem var(--heading);
    margin-right: 1rem;
}

.faq .icon {
    position: absolute;
    right: 0;
    top: calc( 50% - 0.5rem );
}

.faq label:hover .icon {
    color: var(--salamander);
}

.faq .icon:after {
    content: "+";
    float: right;
    font-weight: bold;
}

.faq input:checked ~ label .prefix {
    color: var(--salamander);
}

.faq input:checked ~ label .icon:after {
    content: "-";
}

.faq .answer {
    max-height: 0;
    overflow: hidden;
}

.faq input:checked ~ label ~ .answer {
    max-height: 99999px;
}

.faq .answer .container {
    margin-top: 1rem;
}

.faq .answer .prefix {
    float: left;
    margin-right: 1rem;
}

.faq-html table th {
    background-color: var(--salamander);
    color: white;
    padding: 0.25rem;
}

.faq-html table {
    font-size: 0.85em;
}

.faq-html table td {
    padding: 0.25em;
}

.faq-html table tr:nth-of-type(odd) {
    background-color: var(--off-white);
}

.post-thumbnail img {
    display: block;
    margin-bottom: 1rem;
    width: 100%;
}

.post-single {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 33.33%;
}

.blog-list ul {
    list-style-type: none;
}

.blog-list li {
    margin-bottom: 1rem;
}

.contact-map {
    border-top: 1px solid var(--off-white);
    min-height: 300px;
    position: relative;
}

.contact-map iframe {
    border: 0;
    height: 100%;
    position: absolute;
    width: 100%;
}

.contact-form .field br {
    display: none;
}

.contact-form label {
    display: block;
}

.contact-form .required {
    color: var(--salamander);
    display: inline-block;
    margin-left: 0.25rem;
}

.contact-form input:not([type=checkbox]),
.contact-form textarea {
    appearance: none;
    border: 1px solid var(--charcoal);
    font: normal 1rem var(--copy);
    margin: 0.5rem 0;
    padding: 0.5rem;
    width: 100%;
}

.contact-form input:not([type=checkbox]):focus,
.contact-form textarea:focus {
    border-color: var(--salamander);
    outline: none;
}

.test-selects .wpcf7-form-control {
    column-count: 2;
}

.test-selects .wpcf7-list-item {
    margin: 0.5rem;
}

.wpcf7-list-item {
    margin: 0;
}

.contact-form input[type=submit] {
    background-color: var(--salamander);
    border: 0;
    color: white;
    cursor: pointer;
    float: right;
    padding: 0.5rem 1rem;
    width: auto;
}

.contact-form input[type=submit]:hover {
    background-color: var(--charcoal);
}

.testimonials main.page-width {
    max-width: var(--tablet);
}

ul.articles {
    list-style-type: none;
    margin: 0;
}

ul.articles li a {
    color: var(--turquoise);
    font-size: 2rem;
}

ul.articles li {
    margin-bottom: 1rem;
}

.asw .has-background {
    padding: 1rem;
}

.resources-grid {
    align-items: center;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;
}

.resources-grid .resource {
    align-items: center;
    background-color: var(--turquoise);
    color: white;
    display: flex;
    justify-content: center;
    min-height: 150px;
    padding: 1rem;
    position: relative;
    text-align: center;
}

.resources-grid .resource:hover {
    opacity: 0.9;
}

.resources-grid .resource:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    border-width: 0 16px 16px 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.25) #fff;
}

.resources-grid .resource ion-icon {
    display: block;
    font-size: 1.5rem;
    margin: 0 auto;
    transform: translateY(1rem);
    transition: all 250ms linear 0s;
}

.resources-grid .resource:hover ion-icon {
    transform: translateY(1.25rem);
}

.blog-content ul,
.blog-content ol {
    margin: 1rem;
}

.blog-content li {
    margin-bottom: 0.5rem;
}

.team-members-grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
}

.featured-team-member {
    background-color: var(--off-white);
    padding: 1rem;
}

.team-members-grid .headshot {
    height: 0;
    padding-top: 100%;
    position: relative;
}

.team-members-grid .headshot .image {
    background-position: center top;
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.team-members-grid .heading {
    color: var(--turquoise);
    font: bold 1.5rem var(--copy);
    margin: 1rem 0 0 0;
}

.team-members-grid .subheading {
    font: normal 1.5rem var(--heading);
}

.team-members-grid .text {
    font-size: 0.85rem;
    margin-top: 1rem;
}

.team-member .overlay {
    background-color: var(--salamander);
    bottom: 0;
    color: white;
    left: 0;
    margin: 1rem;
    padding: 0.5rem;
    position: absolute;
}

.team-member a .subheading {
    color: var(--charcoal);
}

.team-members-grid .grid-items {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
}

.team-member-profile h1 {
    margin-bottom: 0;
}

.team-member-profile h2 {
    font: normal 1.5rem var(--heading);
}

.team-member-profile .summary {
    color: var(--turquoise);
    padding: 1rem 0 0 0;
}

.team-member-profile .columns {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr;
}

.team-member-profile .bio-column {
    border-bottom: 1px solid var(--off-white);
    padding-bottom: 2rem;
}

.team-member-profile .nav-column .heading a {
    display: block;
    font: bold 1.5rem var(--copy);
}

.team-member-profile .nav-column ul {
    list-style-type: none;
    margin: 1rem 0;
}

.team-member-profile .nav-column ul a {
    color: var(--turquoise);
    display: block;
    margin: 0.5rem 0;
}

.team-member-profile .nav-column ul .current a {
    color: var(--charcoal);
}