@media screen and ( min-width: 82rem ) {

    .header-logo {
        max-width: 50%;
    }

    .header-logo img {
        max-width: 290px;
    }

    .tagline {
        white-space: nowrap;
    }

    .media-feature {
        align-items: stretch;
        grid-template-columns: 66.66% 1fr;
    }
    
    .media-feature .heading {
        grid-column: 1 / span all;
        max-width: 66.66%;
    }

    .branded-heading {
        font-size: 5rem;
    }
    
    .media-feature .subheading {
        font-size: 3rem;
        line-height: 0.75;
    }
    
    .media-feature .content {
        font-size: 1.25rem;
    }
    
    .button {
        width: auto;
    }

    .grid-content.columns-4 .grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .contact-map {
        min-height: 400px;
    }

    .resources-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .navigation ul:not(.sub-menu) {
        padding: 0;
    }

    .team-member-profile .columns {
        grid-template-columns: 25% 1fr 25%;
    }

    .team-member-profile .nav-column {
        grid-column: 3;
    }

    .team-member-profile .nav-column ul {
        display: block;
    }

    .team-member-profile .bio-column {
        border-bottom: 0;
    }
    
    .styled-page-top .summary {
        font-size: 1.25rem;
    }
}